.box-input {
    position: relative;
    width: 100%;
}

.box-input .label {
    color: red;
    cursor: text;
    font-size: 16px;
    left: 12px;
    position: absolute;
    top: 20px;
    transition: 0.15s ease-in-out;
}

.box-input .input {
    border-bottom: 1px solid red;
    display: block;
    font-size: 16px;
    padding: 20px 12px 12px;
    width: 100%;
}

.box-input .input:focus + .label,
.box-input .input:valid + .label {
    font-size: 12px;
    top: 0;
}
