div {
    display: inline-block;
}

p {
    margin-top: 1px;
    padding-bottom: 10px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(138, 135, 135, 0.76);
}

.menu {
    display: flex;
}
.menu .item {
    color: red;
    list-style: none;
    margin-right: 32px;
}

/*  cep  */

button {
    background-color: red;
    color: white;
    width: 200px;
    height: 30px;
    border-radius: 14px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

button:focus {
    outline: none;
}

label.fonte {
    color: red;
    font-weight: 300px;
    font-size: 20px;
}

.esp {
    margin: 200px;
    margin-left: 90px;
}

.boxtxt {
    border: none;
    text-decoration: none;
    border-bottom: 0.5px solid rgba(138, 135, 135, 0.76);
    width: 98%;
    box-shadow: none;
}

.boxtxt::placeholder {
    color: rgba(138, 135, 135, 0.76);
}

.boxtxt:focus {
    outline: none;
}

/* mapa */

.borda {
    background-color: red;
}
